@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-instrument-sans: "Instrument Sans", sans-serif;
  --font-anek-tamil: "Anek Tamil", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --color-color-one: #808cfd;
  --color-color-two: #e9ecff;
  --animate-fade-in: fadein 1s ease-out forwards;

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}

@layer components {
  .headline-one {
    @apply text-4xl md:text-6xl lg:text-8xl font-extrabold font-anek-tamil uppercase;
  }

  .headline-two {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold font-anek-tamil uppercase;
  }

  .headline-three {
    @apply text-5xl md:text-6xl font-bold font-anek-tamil uppercase;
  }

  .headline-four {
    @apply text-xl md:text-2xl font-bold font-anek-tamil uppercase;
  }

  .headline-five {
    @apply text-xl font-bold font-anek-tamil uppercase;
  }

  .paragraph-one {
    @apply text-base lg:text-lg font-normal font-geist;
  }

  .paragraph-two {
    @apply text-sm lg:text-lg font-normal font-geist;
  }

  .paragraph-three {
    @apply text-sm font-bold font-geist;
  }

  .links-button {
    @apply font-geist-mono font-normal text-base uppercase hover:bg-black hover:text-white rounded-xl;
  }
  .links-nav {
    @apply font-geist-mono text-base;
  }
}

.plus-icon {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5 13v-1h6V6h1v6h6v1h-6v6h-1v-6z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.multiply-icon {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
